.like{
    padding-bottom: 100px;
    .van-nav-bar{
        background: linear-gradient(top,#e97373,#f05345);
    }
    .van-nav-bar__text,.van-nav-bar__arrow,.van-nav-bar__title{
        color: #fff;
    }

    .test{
        padding: 10px 20px;
    }
    .question{
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 2px;
        position: relative;
    }
    .question-icon{
        padding: 2px;
        background-color: #F05E5F;
        color: #fff;
        font-size: 14px;
        margin-right: 10px;
    }
    .question-text{
        display: inline;
    }
    .question-img{
        margin-top: 8px;
        width: 100%;
        height: 150px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
        img{
            max-width: 100%;
            max-height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .item{
        margin-top: 20px;
    }
    .item-box{
        padding: 10px;
        font-size: 16px;
        position: relative;
        &.active{
            background-color: rgb(228, 227, 227);
        }
        &.right{
            color: rgb(29, 187, 29);
            .item-icon{
                border: solid 2px transparent;
                margin-right: 20px;
                color: transparent;
                background-image: url("../img/right.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                overflow: hidden;
            }
        }
        &.wrong{
            color: rgb(228, 83, 39);
            .item-icon{
                border: solid 2px transparent;
                margin-right: 20px;
                color: transparent;
                background-image: url("../img/wrong.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                overflow: hidden;
            }
        }
    }
    .item-icon{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: solid 2px rgb(175, 174, 174);
        text-align: center;
        line-height: 35px;
        margin-right: 20px;
    }
    .item-text{
        width: calc(100% - 60px);
        line-height: 40px;
    }

    .explain{
        margin-top: 10px;
        padding: 10px 20px;
    }
    .explain-title{
        padding-bottom: 10px;
        border-bottom: solid 2px rgb(197, 197, 197);
    }
    .explain-title-text{
        font-size: 16px;
        font-weight: bold;
        display: inline-block;
        position: relative;
        left: 10px;
    }
    .explain-title-text:after{
        content: "";
        display: inline-block;
        position: absolute;
        width: 5px;
        height: 100%;
        background-color: rgb(228, 72, 72);
        left: -10px;
    }
    .explain-text{
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 2px;
        padding-top: 10px;
    }

    .bottom{
        background-color: #fff;
        width: 100%;
        height: 60px;
        position: fixed;
        bottom: 0;
    }
    .like{
        position: absolute;
        bottom: 20px;
        left: 20px;
        padding-bottom: 0;
    }
    .statistics{
        position: absolute;
        bottom: 20px;
        left: 100px;
        padding-bottom: 0;
    }
    .like-icon,.statistics-icon{
        width: 30px;
        height: 30px;
        margin-top: 2.5px;
        display: inline-block;
        position: relative;
        img{
            width: 80%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
    .like-text,.statistics-text{
        line-height: 25px;
        position: relative;
        display: inline-block;
        overflow: hidden;
        font-size: 14px;
    }

    .next,.last{
        position: absolute;
        bottom: 20px;
        right: 20px;
        padding: 4px 10px;
        background-color: #F05E5F;
        color: #fff;
        border-radius: 15px;
        font-size: 15px;
    }
    .last{
        margin-right: 90px;
    }

    .empty{
        .van-button{
            background:  #F05E5F;
            border: transparent;
        }
    }
}