.mockTestBefore{
    .van-nav-bar{
        background: linear-gradient(top,#e97373,#f05345);
    }
    .van-nav-bar__text,.van-nav-bar__arrow,.van-nav-bar__title{
        color: #fff;
    }
    .van-button{
        background: linear-gradient(top,#e97373,#f05345);
        color: #fff;
    }

    .object{
        margin-top: 40px;
        padding: 10px 40px;
        font-size: 16px;
        line-height: 40px;
    }
    .object-item-text{
        color: rgb(158, 157, 157);
    }

    .tip{
        margin-top: 10px;
        padding: 10px 40px;
        line-height: 20px;
        color: rgb(158, 157, 157);
    }

    .mockBtn-box{
        width: 80%;
        margin: 50px auto;
    }
}