.mockTestBefore .van-nav-bar {
  background: linear-gradient(top, #e97373, #f05345);
}

.mockTestBefore .van-nav-bar__text, .mockTestBefore .van-nav-bar__arrow, .mockTestBefore .van-nav-bar__title {
  color: #fff;
}

.mockTestBefore .van-button {
  background: linear-gradient(top, #e97373, #f05345);
  color: #fff;
}

.mockTestBefore .object {
  margin-top: 40px;
  padding: 10px 40px;
  font-size: 16px;
  line-height: 40px;
}

.mockTestBefore .object-item-text {
  color: #9e9d9d;
}

.mockTestBefore .tip {
  margin-top: 10px;
  padding: 10px 40px;
  line-height: 20px;
  color: #9e9d9d;
}

.mockTestBefore .mockBtn-box {
  width: 80%;
  margin: 50px auto;
}
