.orderTest {
  padding-bottom: 100px;
}

.orderTest .van-nav-bar {
  background: linear-gradient(top, #e97373, #f05345);
}

.orderTest .van-nav-bar__text, .orderTest .van-nav-bar__arrow, .orderTest .van-nav-bar__title {
  color: #fff;
}

.orderTest .test {
  padding: 10px 20px;
}

.orderTest .question {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 2px;
  position: relative;
}

.orderTest .question-icon {
  padding: 2px;
  background-color: #F05E5F;
  color: #fff;
  font-size: 14px;
  margin-right: 10px;
}

.orderTest .question-text {
  display: inline;
}

.orderTest .question-img {
  margin-top: 8px;
  width: 100%;
  height: 150px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.orderTest .question-img img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.orderTest .item {
  margin-top: 20px;
}

.orderTest .item-box {
  padding: 10px;
  font-size: 16px;
  position: relative;
}

.orderTest .item-box.active {
  background-color: #e4e3e3;
}

.orderTest .item-box.right {
  color: #1dbb1d;
}

.orderTest .item-box.right .item-icon {
  border: solid 2px transparent;
  margin-right: 20px;
  color: transparent;
  background-image: url("../img/right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.orderTest .item-box.wrong {
  color: #e45327;
}

.orderTest .item-box.wrong .item-icon {
  border: solid 2px transparent;
  margin-right: 20px;
  color: transparent;
  background-image: url("../img/wrong.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.orderTest .item-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: solid 2px #afaeae;
  text-align: center;
  line-height: 35px;
  margin-right: 20px;
}

.orderTest .item-text {
  width: calc(100% - 60px);
  line-height: 40px;
}

.orderTest .bottom {
  width: 100%;
  height: 30px;
  position: fixed;
  bottom: 5px;
  border-top: solid 2px #ddd;
  padding-top: 4px;
  background-color: #fff;
}

.orderTest .like {
  margin-left: 2%;
}

.orderTest .statistics, .orderTest .right {
  margin-right: 4%;
}

.orderTest .wrong {
  margin-right: 6%;
}

.orderTest .like-icon, .orderTest .statistics-icon, .orderTest .wrong-icon, .orderTest .right-icon {
  width: 30px;
  height: 30px;
  margin-top: 2.5px;
  display: inline-block;
  position: relative;
}

.orderTest .like-icon img, .orderTest .statistics-icon img, .orderTest .wrong-icon img, .orderTest .right-icon img {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.orderTest .like-text, .orderTest .statistics-text, .orderTest .wrong-text, .orderTest .right-text {
  line-height: 25px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-size: 14px;
}

.orderTest .explain {
  margin-top: 10px;
  padding: 10px 20px;
}

.orderTest .explain-title {
  padding-bottom: 10px;
  border-bottom: solid 2px #c5c5c5;
}

.orderTest .explain-title-text {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  position: relative;
  left: 10px;
}

.orderTest .explain-title-text:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: #e44848;
  left: -10px;
}

.orderTest .explain-text {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 2px;
  padding-top: 10px;
}

.orderTest .next, .orderTest .last {
  position: fixed;
  bottom: 60px;
  right: 20px;
  padding: 4px 10px;
  background-color: #F05E5F;
  color: #fff;
  border-radius: 15px;
  font-size: 15px;
}

.orderTest .last {
  margin-right: 90px;
}

.orderTest .popup {
  padding: 10px 10px 10px 5px;
  max-height: 551px;
}

.orderTest .popup-box {
  width: 45px;
  height: 45px;
  line-height: 45px;
  border: solid 2px #b6b4b4;
  border-radius: 50%;
  text-align: center;
  margin: 10px 0 0 10px;
  font-size: 16px;
  background-color: #fff;
  color: #b6b4b4;
}

.orderTest .popup-box.active {
  background-color: #999999;
  color: #fff;
  border: solid 2px transparent;
}

.orderTest .popup-box.right {
  background-color: #b7f6b1;
  color: #179700;
  border-color: #179700;
}

.orderTest .popup-box.wrong {
  background-color: #f6b1b1;
  color: red;
  border-color: red;
}
